.header {
  margin: 79px auto 65px 0;
}

.posts {
  display: grid;
  grid-gap: 45px;
}

.post {
  display: flex;
  flex-direction: column;

  cursor: pointer;

  h1 {
    font-size: 28px;
    transition: color 0.2s;
  }

  span {
    margin-top: 8px;
    font-size: 18px;
    line-height: 21.78px;
    color: var(--body);
  }

  &:hover h1 {
    color: var(--highlight);
  }
}

.postInformation {
  display: flex;
  align-items: center;
  margin-top: 24px;

  div {
    color: var(--body);

    display: flex;
    align-items: center;

    font-size: 14px;

    & + div {
      margin-left: 26px;
    }

    svg {
      margin-right: 10px;
    }
  }
}

.loadMorePostsButton {
  background: transparent;
  border: 0;

  color: var(--highlight);

  font-weight: 600;
  font-size: 18px;

  margin-right: auto;
  margin-top: 65px;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
