.banner {
  width: 100%;
}

.post {
  margin-top: 80px;

  h1 {
    font-size: 48px;
    line-height: 58px;
  }
}

.postInformation {
  display: flex;
  align-items: center;

  margin-right: auto;
  margin-top: 24px;

  div {
    color: var(--info);

    display: flex;
    align-items: center;

    font-size: 14px;

    span {
      font-size: 16px;
    }

    & + div {
      margin-left: 26px;
    }

    svg {
      margin-right: 10px;
    }
  }
}

.content {
  margin-top: 65px;

  h2 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 45px;
  }

  span {
    color: var(--info);
    font-size: 18px;
    line-height: 25px;

    & + span {
      display: block;
      margin-top: 30px;
    }
  }
}

.separator {
  border: 1px solid #D7D7D710;
  margin: 60px 0 48px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 80px;
}

.postToNavigate {
  display: flex;
  flex-direction: column;

  &.next {
    align-items: flex-end;
  }

  &.previous {
    align-items: flex-start;
  }

  span {
    font-size: 18px;
    line-height: 21px;
  }

  button {
    background: transparent;
    border: 0;

    color: var(--highlight);
    font-weight: 600;

    line-height: 20px;
    margin-top: 8px;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.updatedAt {
  display: block;
  color: var(--info);
  margin-top: 12px;
  font-size: 14px;
}
